# Slicknode cache data
.slicknode

# Configured environments
# Remove this from .gitignore, if you want to share the environments 
# with other developers (recommended if you want to work with the same content)
.slicknoderc

# NodeJS modules, next build files
node_modules
/out
.next

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other system files
.DS_Store
.idea