# Slicknode cache data
.slicknode
.slicknoderc

# NodeJS modules, next build files
node_modules
/export
/dist
.next

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other system files
.DS_Store
