// Global base styles
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
  line-height: 1.5em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: #1bbaf2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 60px 0;
  font-weight: normal;
}

h2, h3, h4 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

