// Global base styles
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

